$border-color: #DDD;

.main {
  padding-top: 2em;

  h2 {
	  margin: 0 0 1em 0;
	  padding-bottom: 0.5em;
	  border-bottom: 1px solid $border-color;
  }

  .fa {
    font-size: 0.75em;
  }
}

.center {
  float: none;
  margin: auto;
}

.left, .right {
  margin: 0 0 3em 0;
  padding: 0 1em;

  h2 {
  	border: none;
  }
}

.left {
  border-right: 1px solid $border-color;
}