/* Inline Elements & Typography */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;
}

h1, h2{
  font-weight: bold;
  text-transform: uppercase;
  clear: both;
}

h1{
  letter-spacing: 0.5em;
}

h2{
  letter-spacing: 0.2em;
}

body, p{
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5em;
}

ul{
  margin-left: -40px;
}

ul li{
  display: inline;
  list-style-type: none;
  padding: 20px;
}

@font-face{
  font-family: 'Entypo';
  src: url('fonts/entypo.ttf');
}

@font-face{
  font-family: 'Entypo Social';
  src: url('fonts/entypo-social.ttf');
}
/* Links */
a{
  text-decoration: none;
  color: #333;
}

a:hover{
  color: #FF3300;
}

h1 a:hover{
  color: #333;
}

/* Custom */
img{
  display: block;
  margin: auto;
  max-width: 100%;
}

.container{
  flex: 1;
}

.header {
  width: 100%;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.entry{ 
  width: 240px; 
  height: 240px; 
  display: block;
  margin: 20px; 
  text-align: center;
  background-repeat: no-repeat;
  /*border: 1px black solid;*/
}

.entry:hover{
  color: #fff;
}

.entry:hover::before{
  content:'';
  display: block;
  height: 240px;
  border-radius: 120px;
  background-color: rgba(255,51,0,0.8);
}

#entry{
  margin-top: 40%;
}

#entry.hover::before{
  color: #fff;
}

#entry.hover::after{
  color: #000;
}

.center{
  width: 75%;
  padding: 30px;
  margin: auto;
  text-align: center;
}

.left{
  float: left;
  width: 50%;
  text-align: center;
  border-right: 1px solid #ddd;
  margin-bottom: 50px;
}

.right{
  float: left;
  width: 50%;
  text-align: center;
}

.blog{
  border-bottom: 1px solid #ddd;
  margin: 30px auto;
}

.blog:last-child{
  border-bottom: none;
}

.resume{
  margin: 20px auto 60px auto;
  text-align: left;
}

.resume h2{
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.plus{
  color: #ff3300;
  font-family: 'Entypo';
  font-size: 2em;
}

.footer {
  clear: both;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border-top: 1px solid #ddd;
}

.contact{
  font-family: 'Entypo', 'Entypo Social';
  font-size: 3em;
  padding: 0 10px;
}

/* Flexbox */
.flexcontainer {
  display: flex;  
  flex-flow: row;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

/* Tablet Layout */
@media only screen and (max-width:770px) {
  .hide-tablet { display:none; }
  .show-tablet { display:block; }
  }

/* Mobile Layout
------------------------------------------------------- */
@media only screen and (max-width:640px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 { width:100%; max-width:100%; }
  .margin0,
  .margin1,
  .margin2,
  .margin3,
  .margin4,
  .margin5,
  .margin6,
  .margin7,
  .margin8,
  .margin9,
  .margin10,
  .margin11,
  .margin12 { margin-left:0; }
  .pad4c { padding:0; }
  .pad4,
  .pad4h { padding-left:20px; padding-right:20px; }
  .pad8 { padding:40px 20px; }
  .hide-mobile { display:none; }
  .show-mobile { display:block; }
  .icon {
    background-image:url(img/sprite@2x.png);
    background-size:240px 240px;
    }
  }