
@font-face
{
font-family: 'Raleway Thin';
src: url('fonts/Raleway\ Thin.ttf'),
}

body {
 background-image:url('img/bodyonfire.jpg');
 background-repeat:repeat;
 background-attachment:fixed;
 overflow-x:hidden;
 font-family: "Raleway Thin", "Andale Mono", sans-serif;
}
h1{
    letter-spacing:.5em;
    font-family:'Edelsans';
    line-height:40px;
    font-size:24px;
    color: black;
}
h2{
    letter-spacing:.5em;
    font-family:'Edelsans';
    line-height:40px;
    font-size:20px;
    color:black;
}
h3{
    letter-spacing:.5em;
    line-height:40px;
    font-size:18px;
    padding-bottom: 10px;
    padding-top: 10px;
}
h5{
  font-size:16px;
  font-weight:bold;
  font-family:'Edelsans';
}
p{
    letter-spacing:4px;
    margin:10px;
}
a{
    text-decoration:none;
    padding:1px;
    color:white;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    border-radius:10px;
}
a:hover {
    color:#f07;  
}
.header {
    padding:20px;
    width:100%;
    text-align: center;
    background:rgba(255,255,255,.7);
    color:rgb(4, 97, 141);
}
.splash-header {
    padding-top:200px;
    height: 350px;
    width:100%;
    text-align: center; 
    background:rgba(255,255,255,.45);
    color:rgb(4, 97, 141);
}
.splash-header h1 {
    font-size: 300%;
    margin:50;
    color: #fff;
}
.header p {
    letter-spacing:.5em;
    font-size:15px;
}
.main-content{
    max-width: 1260px;
    min-width: 1260px;
    text-align: center;
}
.container {
     width:640px;
     padding:20px;
     text-align: center;
}
.container a:hover{
    border-radius:5px;
    background:rgba(255,255,255,.7);
    text-decoration: none;
}
.container.underline a{
text-decoration: underline;
}
.container.underline a:hover{
text-decoration: none;
}
.container.color{
    background-color:rgba(4, 97, 141, .7);
    color:whiteSmoke;
}
.container.color p {
    font-size:15px;
    padding:10px;
    line-height:22px;
    font-family:'Source Sans Pro';
    font-weight:200;
}
.container.color h4{
    text-align:right;
    padding:0px 20px 0px 0px;
    letter-spacing: .1em;
    font-family:'Source Sans Pro';
}
.container.color h5 {
    text-align:center;
}
.container.color li  {
    /*margin:10px;*/
    text-align:center;
    font-size:17px;
    letter-spacing:4px;
}
h3.fancy {
    font-family:'Bad Script';
}
.body-post{
    font-family:'Source Sans Pro';
    font-weight:200;
    text-align: center;
}
.back {
    padding: 15px 0 0 0;
    font-weight:200;
}
.italic{
    font-weight:300;
    font-style:italic;
}
.nav {
    text-align: center;
    background:rgba(255,255,255,.7);
}
.nav a, .nav a:hover {
    font-size:25px;

}
.nav a.active{
   color:rgb(4, 97, 141);
}
.nav a img {
    border:none;one
}
.nav a:hover {zoom:1;}

#footer {
    text-align: center;
    padding: 45px;
    font-size:15px;
    color:#fff;
}
.container.color.archive h5 {
    text-align: center;
    padding-top: 30px;
}
.archive table{
    font-family:'Edelsans';
    font-size: 15px;
    padding: 10px;
    line-height: 22px;
    font-weight: 200;
}
.archive table th{
    padding:20px 45px 10px 10px;
}
.archive table tr a{
    margin:25px;
    border-radius:0px;
    color:white;
}
.archive table tr a:hover{
    background-color:rgba(255, 255, 255, .0);
    color:#04618D;
}
.archive table tr:hover{
    background:rgba(255, 255, 255, .7);
    color:rgb(4, 97, 141);
}
.archive table tr.blog-header{
    background-color: rgba(255, 255, 255, .0);
    color:white;
}
.archive table tr:hover a{
    color:rgb(4, 97, 141);
}
table.archive tbody tr td{
    margin:10px;
    padding:10px 10px 10px 10px;
    padding-left: 25px;
    padding-right:30px;
}

.emphasis {
	font-weight:600;
}

.highlight pre, pre {
background-color: #F8F8F8;
border: 1px solid #CCC;
font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 6px 10px;
border-radius: 3px;
color: #555;
width: 600px;
}
pre code, pre tt {
background-color: transparent;
border: none;
font-family: Consolas,"Liberation Mono",Courier,monospace;
}
pre > code {
margin: 0;
padding: 0;
white-space: pre;
border: none;
background: transparent;
}
/* ------------------------------------------
  Lil Helpers ♥
---------------------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
