{% assign base = site.baseurl %}
<head>
<meta charset="utf-8" />
<title>aurorayes | {{page.title}}</title>
<link rel='shortcut icon' href='{{site.url}}/img/favicon.png' />
<link rel="stylesheet" href="{{base}}/site.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{base}}/normalize.css">
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600' rel='stylesheet' type='text/css'>
</head>	