{% assign base = site.baseurl %}
<head>
	<title>aurorayes | {{page.title}}</title>
	<meta charset="utf-8" />
	<link rel='shortcut icon' href='{{site.url}}/img/favicon.png' />
	<link rel="stylesheet" href="{{base}}/assets/stylesheets/site.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{{base}}/assets/stylesheets/normalize.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type='text/javascript' src="{{base}}/assets/javascripts/site.js"></script>
	<!-- <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600' rel='stylesheet' type='text/css'> -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'> -->
</head>	