{% assign base = site.baseurl %}

<head>
	<title>aurorayes | {{page.title}}</title>
	<meta charset="utf-8" />
	<link rel='shortcut icon' href='{{base}}/img/favicon.png' />
	<link rel="stylesheet" type="text/css" href="{{base}}/assets/stylesheets/normalize.css">
	<link rel="stylesheet" href="{{base}}/assets/stylesheets/site.css" type="text/css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type='text/javascript' src="{{base}}/assets/javascripts/site.js"></script>
</head>	