


<a class='quiet center' href='/'>
<img id='circle margin2y' src='{{base}}/img/circle.png' alt='circle' width='200px'/>
</a>


<div class="nav center margin2y">
    <a href="{{base}}/werds" class='quiet' {% if page.class == "werds" %}class="active"{% endif %}>
	     werds</a> &#9679;
    <a href="{{base}}/draw" class='quiet' {% if page.class == "draw" %}class="active"{% endif %}>
        draw</a> &#9679; 
    <a href="{{base}}/about" class='quiet' {% if page.class == "about" %}class="active"{% endif %}>about</a>
</div>