<div class="header col12" style='background-color:#fff;'>
	<a class='quiet col12' href='/'>
  		<img class='margin2' src='{{base}}/img/aurorayes_splash.png' alt='circle' width='200px' style='background-color:#fff;'/>	
	</a>
</div>

<div class="nav col12 margin2y">
    <a href="{{base}}/blog" class='quiet' {% if page.class == "blog" %}class="active"{% endif %}>
	     blog</a> &#9474;
    <a href="{{base}}/draw" class='quiet' {% if page.class == "draw" %}class="active"{% endif %}>
        draw</a> &#9474;
    <a href="{{base}}/about" class='quiet' {% if page.class == "about" %}class="active"{% endif %}>about</a>
</div>