<!-- ---
layout: default
title: 'civic fix'
--- -->

<div class='hidden' id='page-portfolio-one'>
	
	<div class='top' id='civicfix'>
		<div class='previous entypo'><a href='#'>&#59233;</a></div>
		<img id='civicfix-pic' src='/img/civic_fix.png'>
		<div class='next entypo'><a href='#'>&#59234;</a></div>
	</div>

	<div class='main'>
		<div class='colleft'>
			<h2>About this project</h2>
			<p>Civic Fix was my first project for General Assembly's Web Development Immersive. Inspired by the travails of living in the District, the app is meant to enhance civil society by providing a platform for users to post PSAs and interact with public officials. The app allows users to email agencies directly with individual and community concerns. In the updated version, they can also tag locations on maps and sort posts by neighborhood.</p>
			<p>The original iteration of this app was built in Ruby using a Sinatra framework. A Rails version of Civic Fix is currently in the works!</p>
		</div>
		<div class='colright'>
			<h2>Specs</h2>
			<b>Original version:</b>
			<ul>
				<li>+ Ruby 2.1.4</li>
				<li>+ Sinatra 1.4.5</li>
				<li>+ Active Record 4.1.8</li>
				<li>+ Sinatra/Active Record 2.0.3</li>
				<li>+ BCrypt-Ruby 3.0.1</li>
				<li>+ Mail 2.6.3</li>
			</ul>
			<b>Final version:</b>
			<ul>
				<li>+ Ruby 2.1.2</li>
				<li>+ Rails 4.2.0</li>
			</ul>
		</div>
	</div>

</div>