<!-- ---
layout: default
title: 'resume'
--- -->

<div class='hidden' id='page-resume'>

	<header class='row'>
		<h2 class='hidden col center large-7 med-8 small-10' id='header-name'><a href='/'>>Aurora Nou</a></h2>
	</header>

	<div class='row main'>
		<div class='resume col center large-7 med-8 small-10'>
			<h2>Experience</h2>
			<p>
				<b>Web Development Immersive, General Assembly</b> | Nov. 2014 - Feb. 2015, <em>Washington, DC</em><br>
				Twelve-week full stack web development program covering object-oriented programming, MVC frameworks, and test-driven development. 
				<ul>
					<li>+ <b>Civic Fix</b>: Web interface for DC residents to post public service announcements and send emails to public affairs agencies. Built on Sinatra (<a href=''>view code</a>) and converted to Rails (<a href=''>view code</a>).</li>
				</ul>
			</p>
			<p>
				<b>Program Coordinator, American University</b> | May 2013 - Nov. 2014, <em>Washington, DC</em><br>
				<ul>
					<li>+ Developed and implemented comprehensive communications strategy for the Comparative &amp; Regional Studies MA program, doubling social media engagement.</li>
					<li>+ Managed program website, including writing original content and building new pages.</li>
				</ul>
			</p>
		</div>
		<div class='resume col center large-7 med-8 small-10'>
			<h2>Skills</h2>
			<div class='col large-6 med-6 small-12'>
				<p><b>Computer languages:</b></p>
				<ul>
					<li>+ Ruby</li>
					<li>+ JavaScript</li>
					<li>+ HTML/CSS</li>
					<li>+ SQL</li>
				</ul>
				<p><b>Frameworks &amp; libraries:</b> </p>
				<ul>
					<li>+ Ruby on Rails
					<li>+ Sinatra</li>
					<li>+ jQuery</li>
					<li>+ underscore.js</li>
					<li>+ backbone.js</li>
				</ul>
			</div>
			<div class='col large-6 med-6 small-12'>
				<p><b>Human languages:</b></p>
				<ul>
					<li>+ Spanish (professional proficiency)</li>
					<li>+ French (intermediate)</li>
					<li>+ Mandarin (fluent, spoken)</li>
				</ul>
				<p><b>Design &amp; visual media:</b></p>
				<ul>
					<li>+ InkScape</li>
					<li>+ LaTeX</li>
					<li>+ Acrylics</li>
					<li>+ Silk screen printing</li>
				</ul>
			</div>
	</div>
	<div class='resume col center large-7 med-8 small-10'>
		<h2>Education</h2>
		<p>
			<b>American University, School of International Service</b> | MA in International Politics, 2014<br>
			<b>Georgetown University, Walsh School of Foreign Service</b> | BS in International Politics, 2011
		</p>
	</div>
	<div class='resume col center large-7 med-8 small-10'>
		<h2>Awards &amp; Publications</h2>
		<p>
			<b>Secularism on the Edge: Rethinking Church-State Relations in the United States, France, and Israel</b><br>
			Co-edited with Jacques Berlinerblau and Sarah Fainberg | New York: Palgrave Macmillan, 2014
		</p>
		<p>
			<b>Graduate Research Assistantship</b> | American University, School of International Service | 2011-2013
		</p>
		<p>
			<b>Georgetown University Undergraduate Research Opportunities Program</b> | Spring 2011
		</p>
	</div>

</div>