---
---

@import 'grid';
@import 'main';
@import 'top';

/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

/* Variables */
$main-font: 'Hammersmith One', sans-serif;
$secondary-font: 'Josefin Sans', sans-serif;
$text-color: #171714;
$accent-text-color: #FFF;
$link-color: #777;
$hover-color: #F7322A;
$background-color: #F7F7F7;

/* Inline Elements & Typography */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: $main-font;
  background-color: $background-color;
  color: $text-color;
}

h1, h4 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

p {
  font-family: $secondary-font;
  line-height: 1.4em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}

header{
  width: 100%;
  background-color: $text-color;
  height: 50px;
  padding: 10px 0 10px 20px;

  h2, a, a:hover {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: $accent-text-color;
    margin: 0;
  }
}

ul {
  font-family: $main-font;
  list-style: none;
  padding-left: 1em;
  text-indent: -0.75em;
  line-height: 1.4em;
}

li {
  font-family: $secondary-font;
}

#index-top {
  background-color: #171714;
  text-align: center;
}

#civicfix {
  background-color: #fd4c48;
}

#civicfix-pic {
  max-width: 580px;
  display: block;
  margin: auto;
}

.resume{
  margin: 0 0 30px 0;
  clear: both;
}

.resume p {
  margin-bottom: 5px;
}

.resume ul {
  margin: 0;
}

.resume ul:last-child {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}