<!DOCTYPE html>
{% assign base = site.baseurl %}
<html>
<head>
  {% include dochead.html %}
</head>

<div class='title'>
  &laquo;RA RO RA&raquo;
</div>

<div class="nav">
    <a href="{{base}}/werds" class='quiet' {% if page.class == "werds" %}class="active"{% endif %}>
	     werds</a>
    <a href="{{base}}/draw" class='quiet' {% if page.class == "draw" %}class="active"{% endif %}>
        draw</a>
    <a href="{{base}}/about" class='quiet' {% if page.class == "about" %}class="active"{% endif %}>about</a>
</div>

{{content}}

<div id='footer'>
  <a class='quiet' href='http://www.twitter.com/auroranou' target='_blank'>Twitter</a>
  // 
  <a class='quiet' href='http://www.github.com/ian29' target='_blank'>Github</a>
</div>

</body>
</html>
