{% include dochead.html %}
<!--
<img src='img/circle.png' alt='circle' width='200px'/>
-->

<a class='quiet' href='/'>
<img class='margin2' src='{{base}}/img/circle.png' alt='circle'/>
</a>

<div class="nav margin2y">
    <a href="{{base}}/blog" class='quiet' {% if page.class == "blog" %}class="active"{% endif %}>
	     blog</a>
    <a href="{{base}}/draw" class='quiet' {% if page.class == "draw" %}class="active"{% endif %}>
        draw</a>
    <a href="{{base}}/about" class='quiet' {% if page.class == "about" %}class="active"{% endif %}>about</a>
</div>

{% include footer.html %}

