{% include dochead.html %}
<!--
<img src='img/circle.png' alt='circle' width='200px'/>
-->

<a class='quiet' href='/'>
<img id='circle margin4' src='{{base}}/img/circle.png' alt='circle'/>
</a>

<div class="nav">
    <a href="{{base}}/werds" class='quiet' {% if page.class == "werds" %}class="active"{% endif %}>
	     werds</a>
    <a href="{{base}}/draw" class='quiet' {% if page.class == "draw" %}class="active"{% endif %}>
        draw</a>
    <a href="{{base}}/about" class='quiet' {% if page.class == "about" %}class="active"{% endif %}>about</a>
</div>

{% include footer.html %}

